{{template "base" .}}
{{define "content"}}

{{if .HasError }}
<div class="alert alert-danger" role="alert">{{.Error}}</div>
{{else}}
{{end}}

<form method="POST" action="/upload" enctype="multipart/form-data">
    <div class="mb-3">
        <!--<label for="file" class="form-label">File</label>-->
        <input type="file" name="file" id="file" class="form-control" aria-describedby="fileHelp">
        <div id="fileHelp" class="form-text">maximum size {{.MaxSize}} Mb</div>
    </div>
    <div class="mb-3">
        <!--<label for="text" class="form-label">Text message</label>-->
        <textarea class="form-control" name="text" id="text" rows="2" placeholder="some text"
                  aria-describedby="textHelp"></textarea>
        <div id="textHelp" class="form-text">file and text can not be empty together</div>
    </div>
    <div class="mb-3">
        <!--<label for="times" class="form-label">Times</label>-->
        <input type="number" name="times" id="times" class="form-control" min="1" max="100" value="1"
               step="1" aria-describedby="timesHelp" required>
        <div id="timesHelp" class="form-text">how many times shared URL will be available</div>
    </div>
    <div class="mb-3">
        <!--<label for="ttl" class="form-label">TTL</label>-->
        <select name="ttl" id="ttl" class="form-select" aria-describedby="ttlHelp" required>
            <option value='600'>10 minutes</option>
            <option value='3600'>hour</option>
            <option value='86400' selected>day</option>
            <option value='604800'>week</option>
        </select>
        <div id="ttlHelp" class="form-text">how long shared URL will be available</div>
    </div>
    <div class="mb-3">
        <!--<label for="password" class="form-label">Password</label>-->
        <input type="password" id="password" name="password" placeholder="secret" class="form-control"
               aria-describedby="passwordHelp">
        <div id="passwordHelp" class="form-text">
            your private key for data encryption, it will not be saved<br>
            leave blank to create automatically
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{end}}